*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Neue", cursive;
 }

 .headerBody{
    text-align: center;
    color: #ffffff;
    height: 25px;
    background-color: #e8c39e;
    user-select: none;
    border-color: rgba(255, 255, 255, 0.36);
    border-style: hidden;
}

body{
    background-color:#eaccad ;
}

.div-logo{
    max-width: 1000px;
    margin: auto;
    display:block;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px; 

    text-decoration: none;
    color: unset;
}

h1{
    font-weight: 500;
    font-size: 60px;
    color: black;

    margin-top: 20px;
    display: flex;
    justify-content: center;  
    font-family: "Arial Black", Gadget, sans-serif;;  
}

main{
    width: 1000px;
    margin: auto;
    padding: 33px;
    background: rgba(232, 225, 196, 0.747);
    display: flex;
    gap: 100px;
}

#imagenAhorcado{
    width: 350px;
}

#palabra{
    height: 80px;
}

#generador {
    color: #ffffff;
    background-color: #000000;
    padding: 8px;
    border-radius: 15px;
    border-color: #ffffffdc;
    width: 450px;
    box-shadow: 2px 2px 2px #624b4b8d ;
}

#abecedario{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

#abecedario button{
    width: 30px;
    padding: 6px 0;
    text-align: center;
    border-radius: 50px;
    border-color: rgb(194, 191, 191);
    text-shadow: 2px 1px 3px #624b4b8d;
}

#palabra span{
    vertical-align: bottom;
    font-size: 2em;
    border-bottom: 2px solid black;
    width: 30px;
    text-align: center;
    margin-right: 6px;
    display: inline-block; 
}

footer{
    background-color: #e8c39e;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}

