*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Neue", cursive;
 }

 .headerBody{
    text-align: center;
    color: #ffffff;
    height: 25px;
    background-color: #e8c39e;
    user-select: none;
    border-color: rgba(255, 255, 255, 0.36);
    border-style: hidden;
}

body{
    background-color:#eaccad ;
}
